{% load static  %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Welcome to our Article list</h1>
    <p>Here you can find many articles</p>
    <div class="articles">
        {% for iarts in art %}
            <div class="iarts">
                <h2><a href="#">{{iarts.title}}</a></h2>
                <p>{{ iarts.snippet }}</p>
                <p>{{ iarts.date }}</p>
            </div>
        {% endfor %}
    </div>
    
</body>
</html>