{% load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="wrapper">
<h1><a class='img' href="{% url 'home' %}"><img src="{% static 'logo.jpg' %}" alt="logo"></a></h1>
<h1><a href="{% url 'about' %}">About</a></h1>
<nav class="inputs">
    <ul>
        {% if user.is_authenticated %}
        <li>
            <form  class='logout-link' action="{% url 'accounts:logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </li>
        <li><a href="{% url 'article_lists:create'  %}">Create</a></li>
        {% else %}
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
        <li><a href="{% url 'accounts:signup' %}">signup</a></li>
        {% endif %}
    </ul>
</nav>
</header>
<div class="wrapper"></div>

{% block content %}

{% endblock %}
</body>
</html>