{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome Home hurrey</h1>
    <header class="wrapper">
        <h1><a class='img' href="{% url 'home' %}"><img src="{% static 'logo.jpg' %}" alt="logo"> Movie Lists</a></h1>
        <h1><a class='img' href="{% url 'home' %}"><img src="{% static 'logo.jpg' %}" alt="logo"></a></h1>
        
        </header>
</body>
</html>