<!-- {% load static  %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hai guys</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="wrapper"></div>
    <h1><a href="{% url 'list' %}">Ourrrrrrrrrrrr</a></h1>
    {% block content %}
    {% endblock %}
</body>
</html> -->


{% load static  %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Djangonauts</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <header class="wrapper">
            <h1><a href="{% url 'articles:list' %}"><img src="{% static 'logo.png' %}" alt="djangonautic" /></a></h1>
        </header>
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
